boto3>=1.37.11
botocore
langchain==0.3.20
langchain-aws==0.2.15
langchain-community==0.3
s3transfer>=0.10.0
urllib3>=1.26.16,<3
python-dotenv>=1.0.0
pypdf==3.17.4
pandas==2.1.3
faiss-cpu==1.7.4
streamlit==1.30.0